
.contact-content 
{
    height: 100vh;
    display: block;
    height: 75vh;
    margin-top: 34px;
    padding: 9px;
    position: relative;
    overflow: hidden;
}
.contact-content::after
{
    background-image:url('../img/articlesbg.jfif');
    background-repeat: no-repeat;
    background-size: cover;
    content:"";
    top:0;
    position: absolute;
    width: 100%;
    height: inherit;
    opacity: 0.19;
    z-index:-1;
}
/* .contact-form
{
} */